*{margin: 0; padding: 0;}
.navbar{
    /* background-color: #181818; */
    background-color: #393e46;
    border-bottom: 2px solid #232323;
    padding: 1vh;
}
header{
  background-color: red;
  height: 200vh;
}
.nav .logo img{
  width: 30vh;
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav ul{
    /* position: relative;
    top: -4vh;
    float: right; */
    /* border: 2px solid blue; */
    /* display: inline-block; */
}
.nav ul li{
    margin: 0vh 4vh 0vh 0vh;
    /* border: 2px solid red; */
    display: inline-block;
}
.nav ul li a{
    font-size: 3vh;
    padding: 1vh 3vh;
    border-radius: 1vh;
    /* border: 2px solid black; */
    /* background-color: #41506b; */
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
}
.nav ul li a:hover{
  text-decoration: underline;
  /* text-decoration-color: red; */
}
.content_hide{
    display: none;
}
.content_hide.active{
    display: block;
}
/*-----------------search---------------------------*/
.searchContainer{
    /* border: 2px solid black; */
    /* height: auto; */
    text-align: center;
}
.searchbtn{
    position: relative;
    top: 10vh;
    /* border-bottom: 1px solid black; */
    padding-bottom: 2vh;
    margin: 0 1vh;
}
/* From Uiverse.io by Yaseen549 */ 
/* From Uiverse.io by garerim */ 
.container-input {
    position: relative;
  }
  
  .input {
    font-size: 3vh;
    width: 200px;
    padding: 5px 6vh 10px 10px;
    border-radius: 2vh;
    /* border: solid 1px #333; */
    border: 2px solid white;
    background-color: #232323;
    color: red;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg {
    /* position: absolute; */
    top: 1vh;
    left: -6vh;
    /* transform: translate(0, -50%); */
    position: relative;
    z-index: 1;
    /* border: 2px solid black; */
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
    color: white;
    background-color: transparent;
  }
  
/*------------------------------------------------------*/
.homeContainer{
    color: red;
    background-color: #343434;
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    /* background-image: url(media/home_bg.png); */
    height: 91.7vh;
}
.searchContainer{
  color: red;
  background-color: #181818;
  height: 150vh;
  /* background-color: white; */
    /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    /* background-image: url(media/home_bg.png); */
    /* max-height: fit-content; */
}
.saveContainer{
    color: red;
    background-color: #343434;
    /* background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); */
    /* background-image: url(media/home_bg.png); */
    height: 91.7vh;
}
/* --------------- card ----------------- */
.search_card{
    /* border: 2px solid red; */
    position: relative;
    top: 10vh;
}
.cardBox{
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* flex: 1 1; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    height: max-content;
}
/* From Uiverse.io by gharsh11032000 */ 
.card {
    position: relative;
    width: 20vw;
    height: 70vh;
    gap: 15;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 10vh;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /* .cardBox .card img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  } */
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #f2f2f2; */
    background-color: rgb(0, 0, 0);
    color: white;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    /* color: #333; */
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  /* From Uiverse.io by LightAndy1 */ 
.package {
  /* position: relative; */
  margin-top: 5vh;
  width: auto;
  height: max-content;
  /* background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%); */
  border-radius: 1px;
  border: 1px solid white;
  text-align: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}
.package:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
  background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
}

.package2 {
  width: 200px;
  height: max-content;
  background-color: #1d1724;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 8px;
  cursor: pointer;
}
.package2 img{
  width: 100%;
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
}
.package2 .text_content{
  top: -45vh;
  position: relative;
  /* border: 2px solid red; */
  background-color: rgba(0, 0, 0, 0.47);
  /* color: black; */
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 20vh;
  /* transform: rotateY(-90deg); */
  transition: 0.4s ease-in-out;
}
.package:hover .text_content{
  transform: rotateY(0);
}
.package2 .text_content h2{
  /* border: 2px solid blue; */
  position: relative;
  top: 2vh;
  font-size: 4vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  /* height: 100%; */
  color: white;
}
/* .package2 .text_content p{
  position: relative;
  top: 2vh;
  left: 1vh;
  float: left;
  font-size: 4vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  height: 100%;
  color: white;
} */
.text {
  color: white;
  font-size: 17px;
}

/* From Uiverse.io by joe-watson-sbf */ 
.flip-card {
  position: relative;
  left: -3vh;
  background-color: transparent;
  width: 190px;
  height: 284px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 0;
  color: white;
}

.flip-card-inner {
  position: relative;
  width: 120%;
  height: 120%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  /* background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral; */
  background-color: #36454F;
  border: 1px solid white;
  align-items: center;
}
.flip-card-front img{
  /* border: 2px solid red; */
  height: 80%;
  width: 90%;
}

.flip-card-back {
  /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%); */
     background-color: #353935;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back .title{
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 3vh;
  text-decoration: underline;
  /* border: 2px solid yellow; */
}
.flip-card-back p{
  position: absolute;
  margin: 0 1vh;
  /* color: white; */
  /* border: 2px solid green; */
  top: 5vh;
  bottom: 0;
  font-size: 2.4vh;
  text-align: left;
}
/* ----- copy css code in .card__description file */
.center-content{
  display: none;
    background-color: #323643;
    height: 90vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.title-content{
    text-align: center;
}
.title-content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    font-size: 7vh;
    color: white;
    text-decoration: underline;
}
.layer-content{
    /* background-color: red; */
    margin-top: 4vh;
    padding: 0 10vh;
    height: 40vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.left-layer .img-div img{
    width: 50vh;
    padding: 1vh;
    background-color: #3a4750;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
}
.left-layer .submit-button{
    /* border: 2px solid red; */
    position: relative;
    top: -2vh;
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.75);
    /* background-color: #3a4750; */
    text-align: center;
    padding: 1.6vh 0vh;
    transition: 0.4s ease-in-out;
}
.left-layer .submit-button a{
    text-decoration: none;
    background-color: transparent;
}
.left-layer .submit-button h3{
    color: white;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    /* text-decoration: none; */
    letter-spacing: 3px;
    transition: 0.4s ease-in-out;
}
.left-layer:hover .submit-button{
  background-color: #706c61;
}
.left-layer:hover .submit-button h3{
  letter-spacing: 0px;
}
.right-layer{
    /* border: 2px solid red; */
    /* box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75); */
    margin: 0 10vh;
    /* padding: 3vh 5vh; */
}
.card-title{
  box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
  padding: 3vh 5vh;
  width: 110vh;
}
.card-title h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: fit-content;
    /* padding: 2px 3vh 1px 2vh; */
}
.card-title p{
    margin-top: 2vh;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/* --------------template------------------ */
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
    width: 95%;
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
    width: 95%;
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
    /* width: 95%; */
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  .left-layer .img-div-temp{
    margin-top: 15vh;
    height: 80%;
    width: 95%;
    /* width: 40vw; */
  }
  .left-layer .img-div-temp img{
    /* height: 95%; */
    width: 95%;
  }
  
  /* ------ card style ----- */
  .card-hover {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: 0.6 ease-in-out;
   }
   
   .card2 {
    width: 190px;
    height: 254px;
    /* background-color: #1a1a1a; */
    border-radius: 3vh;
    transition: 0.6s ease-in-out;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card-hover:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }
   /* ------ sugest ----- */
   .sugest-div{
    margin-top: 2vh;
    /* border: 2px solid red; */
   }
   .sugest-div h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 3vh;
    text-decoration: underline;
   }
   .sugest-div h3 span{
    
   }
   .sugest{
    /* border: 2px solid red; */
    margin-top: 2vh;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: space-between; */
    gap: 60px;
   }
   .card2 img{
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    transition: 0.4s ease-in-out;
    /* border: 1px solid silver; */
    border-radius: 3vh;
   }
   .card2 img:hover{
    border-radius: 20px;
    border: 1px solid silver;
    filter: grayscale(0);
    transform: rotate(-5deg);
   }



   /* -----  changes in show content ----- */
   .center-content{
    /* background-color: #323643; */
    /* border: 2px solid red; */
    border-radius: 3vh;
    height: 70vh;
    padding-top: 3vh;
    padding-bottom: 6vh;
  transition: 0.8s ease-in-out;
}
   .center-content:hover .icon1{
    display: none;
  }
  .center-content:hover .icon2{
    display: block;
  }

  .title-content{
    text-align: center;
  margin: 0px 8vh;
}
.title-content h2{
  /* background-color: ; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    font-size: 5vh;
    color: white;
    text-decoration: underline;
}
.title-content span{
  position: relative;
  top: -3vh;
  font-size: 3vh;
  color: white;
  float: right;
  /* border: 2px solid red; */
}
/* .title-content .cross1{

} */
.title-content .icon2{
  display: none;
}

.layer-content{
  /* background-color: red; */
  /* border: 2px solid red; */
  background-color: transparent;
  margin-top: 4vh;
  padding: 0 10vh;
  /* height: 40vh; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.left-layer .img-div img{
  width: 40vh;
  padding: 1vh;
  background-color: #3a4750;
  box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
}
.left-layer .submit-button{
  /* border: 2px solid red; */
  position: relative;
  top: -2vh;
  box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.75);
  /* background-color: #3a4750; */
  text-align: center;
  padding: 1.6vh 0vh;
  transition: 0.4s ease-in-out;
}
.left-layer .submit-button a{
  text-decoration: none;
  background-color: transparent;
}
.left-layer .submit-button h3{
  color: white;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  /* text-decoration: none; */
  letter-spacing: 3px;
  transition: 0.4s ease-in-out;
}
.left-layer:hover .submit-button{
  background-color: #706c61;
}
.left-layer:hover .submit-button h3{
  letter-spacing: 0px;
}
.right-layer{
  /* border: 2px solid red; */
  /* box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75); */
  margin: 0 10vh;
  /* padding: 3vh 5vh; */
}
.card-title{
box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
padding: 3vh 5vh;
/* width: auto; */
}
.card-title h2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* width: fit-content; */
  /* padding: 2px 3vh 1px 2vh; */
}
.card-title p{
  margin-top: 2vh;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comic-info{
  /* border: 2px solid red; */
  margin-top: 2vh;
  display: grid;
  grid-template-columns: auto auto auto;
 }
 .comic{
  transition: 0.9s ease-in-out;
 }
 .box-color-hover:hover .comic{
  /* background-color: rgba(192, 192, 192, 0.429); */
  background-color: black;
  border: 2px solid white;
  color: white;
 }
 .comic-info .comic{
  border: 2px solid rgba(0, 0, 0, 0.678);
  border-radius: 1vh;
  background-color: rgba(192, 192, 192, 0.295);
  width: max-content;
  padding: 1vh;
  text-align: center;
 }
 .comic-info .comic h2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3vh;
  background-color: transparent;
 }
 .comic-info .comic p{
  background-color: #3a4750;
 }
 .sugest{
  /* border: 2px solid red; */
  margin-top: 2vh;
  /* width: fit-content; */
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-content: space-between; */
  gap: 60px;
 }
 .card2 img{
  height: 70%;
  width: 70%;
  filter: grayscale(1);
  transition: 0.4s ease-in-out;
  /* border: 1px solid silver; */
  border-radius: 3vh;
 }
 .card2 img:hover{
  border-radius: 20px;
  border: 1px solid silver;
  filter: grayscale(0);
  transform: rotate(-5deg);
 }